<h5>Welcome {{name}}</h5>
<h5>Here are your Blog Posts</h5>

{{#if blogs}}
    <table class="table">
        <thead>
            <tr>
                <th>Title</th> 
                <th>Date</th> 
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each blogs}}
                <tr>
                    <td><a href="/blogs/{{_id}}"></a>{{title}}</td>
                    <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
<hr>
<h4 class="center">You Have No Blog Posts</h4>

{{/if}}